<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <div>
            <div>
                <input id="email" name="username" value="user"/>
                <label for="email">ID</label>
            </div>
        </div>
        <div>
            <div>
                <input id="password" type="password" name="password" value="user"/>
                <label for="password">Password</label>
            </div>
        </div>
        <input type="submit" value="로그인" />
    </form>
</body>
</html>