<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form method="POST">
    <div class="row">
        <div>
            <input id="id" name="email" value="user"/>
            <label for="id">ID</label>
        </div>
    </div>
    <div class="row">
        <div>
            <input id="name" name="name" value="user"/>
            <label for="name">Name</label>
        </div>
    </div>
    <div>
        <div>
            <input id="password" type="password" name="password" value="user"/>
            <label for="password">Password</label>
        </div>
    </div>
    <input type="submit" value="회원가입" />
</form>
</body>
</html>